*{
	margin: 0;
	padding: 0;

	text-decoration: none;
    
}
#calculator{
    border-radius: 40px;
    height: 800px;
    display: flex;
    
    flex-direction:column;
    align-items: center;
    width: 550px;
    background-color: #f1f1f3;
    margin:10px;
    text-align: center;
}
#expression{
    color: #fb931c;
    font-size: 50px;
    height: 50px;
    width: 500px;
    text-align: right;
    margin: 20px;
}
#inputField{
    color: #fa9e06;
    font-size: 100px;
    height: 150px;
    width: 500px;
    text-align: right;
    border: 0;
    background-color: #f1f1f3;
    
}

*>button:hover{
    filter: saturate(1450%);
}

#menu{
    
    display:flex;
    flex-direction: row;
    background-color: #f1f1f3;
    text-align: left;
}
#operations{
    display: grid;
    grid-template-columns: auto;
    height: 60px;

}

#operations>button{
    font-size: 50px;
    height: 60px;
    width: 60px;
    text-align: center;
	color: #ffffff;
    background-color: #fa9e06;
    border: 0;
    border-radius: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#operations>button>img{
    filter:invert(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
#numbers{
    display: grid;
    grid-template-columns: auto auto auto;
    
    height: 60px;
    
    align-items: center;
    justify-content: center;
}
#numbers>button{
    font-size: 40px;
    height: 60px;
    width: 60px;
    text-align: center;
	color: #afafb1;
    box-shadow: 2px 2px 2px grey;
    background-color: #f1f1f3;
    border: 0;
    border-radius: 40px;
    margin: 20px;
    display:grid;
    align-items: center;
    justify-content: center;
}
